<div class='wrapper'>
    <%- include('header'); %>
    <input type="hidden" class="sheet-tabstoggle" name="attr_sheetTab" value="abilities" />
    <div>
        <button type="action" name="act_abilities" class="sheet-button0">Abilities</button>
        <button type="action" name="act_quantum" class="sheet-button1">Quantum</button>
        <button type="action" name="act_combat" class="sheet-button2">Combat</button>
        <button type="action" name="act_info" class="sheet-button3">Info</button>
    </div>

    <%- include('tabs/abilities'); %>
    <%- include('tabs/quantum'); %>
    <%- include('tabs/combat'); %>
    <%- include('tabs/info'); %>
</div>

<%- include('rollTemplates/base') %>
<%- include('rollTemplates/initiative') %>
<%- include('rollTemplates/mega') %>

<script type="text/worker">

<%- include('../scripts/AberrantRoll20Sheet.js') %>

</script>