<%
// Armor configuration
const armorSlots = [
    { id: 1, name: 'Mega_Stamina' },
    { id: 2, name: 'Eufiber' }
];
// Additional numbered armor slots (3-11)
for (let i = 3; i <= 11; i++) {
    armorSlots.push({ id: i, name: null });
}

// Health injury types
const injuryTypes = [
    { name: 'Bruised', repeatingClass: 'bruisedhealth' },
    { name: 'Hurt', repeatingClass: 'hurthealth' },
    { name: 'Injured', repeatingClass: 'hurthealth' },
    { name: 'Wounded', repeatingClass: 'woundedhealth' },
    { name: 'Maimed', repeatingClass: 'maimedhealth' },
    { name: 'Crippled', repeatingClass: 'crippledhealth' },
    { name: 'Incapacitated', repeatingClass: 'incapacitatedhealth' }
];

// Wound options for select dropdowns
const woundOptions = ['', '/', 'X', '*'];
-%>
        <div class='sheet-health'>
			<h2>Health</h2>
    		<div class="dual_col">
                <div class="col">
				    <h3>Soak</h3>
                    <div class="row">
                        <div class="item 100">Armor</div>
                        <div class="item 50">Bashing</div>
                        <div class="item 50">Lethal</div>
                        <div class="item 75">Aggravated</div>
                        <div class="item 50">Penalty</div>
                    </div>
                    <div class="row">
                        <div class="item 100">Natural Soak</div>
                        <div class="item 50"><input type='text' class="st" name='attr_Natural_Bashing_Soak' value=1 min=1 /></div>
                        <div class="item 50"><input type='text' class="st" name='attr_Natural_Lethal_Soak' value=0 min=0 /></div>
                        <div class="item 75"><input type='text' class="st" name='attr_Natural_Aggravated_Soak' value=0 min=0 /></div>
                        <div class="item 50"><input type='text' class="st" name='attr_Natural_Aggravated_Penalty' value=0 readonly /></div>
                    </div>
                    <% armorSlots.forEach(armor => { -%>
                    <div class="row">
                        <div class="item 100"><% if (armor.name) { %><%= armor.name %><% } else { %><input type='text' class="st" name='attr_Armor<%= armor.id %>_Name'/><% } %></div>
                        <div class="item 50"><input type='text' class="st" name='attr_Armor<%= armor.id %>_Bashing_Soak' value=0 min=0 /></div>
                        <div class="item 50"><input type='text' class="st" name='attr_Armor<%= armor.id %>_Lethal_Soak' value=0 min=0 /></div>
                        <div class="item 75"><input type='text' class="st" name='attr_Armor<%= armor.id %>_Aggravated_Soak' value=0 min=0 /></div>
                        <div class="item 50"><input type='text' class="st" name='attr_Armor<%= armor.id %>_Penalty' value=0 min=0<% if (armor.id === 1) { %> readonly<% } %> /></div>
                    </div>
                    <% }); -%>
                    <div class="row">
                        <div class="item 100">Total</div>
                        <div class="item 50" ><input type='text' class="st" name='attr_Bashing_Soak' value="@{Natural_Bashing_Soak}<% armorSlots.forEach(a => { %>+@{Armor<%= a.id %>_Bashing_Soak}<% }); %>" disabled/></div>
                        <div class="item 50" ><input type='text' class="st" name='attr_Lethal_Soak' value="@{Natural_Lethal_Soak}<% armorSlots.forEach(a => { %>+@{Armor<%= a.id %>_Lethal_Soak}<% }); %>" disabled/></div>
                        <div class="item 75" ><input type='text' class="st" name='attr_Aggravated_Soak' value="@{Natural_Aggravated_Soak}<% armorSlots.forEach(a => { %>+@{Armor<%= a.id %>_Aggravated_Soak}<% }); %>" disabled /></div>
                        <div class="item 50" ><input type='text' class="st" name='attr_Penalty' value="<% armorSlots.forEach((a, i) => { %><% if (i > 0) { %>+<% } %>@{Armor<%= a.id %>_Penalty}<% }); %>" disabled/></div>
					</div>
                </div>
                <div class="col">
				    <h3>Injuries</h3>
                    <div class="row">
                        <div class="item 120">Injury</div>
                        <div class="item 50" >Type</div>
                        <div class="item 50" >Penalty</div>
                    </div>
                    <% injuryTypes.forEach(injury => { -%>
                    <div class="row">
                        <div class="item 120"><%= injury.name %></div>
                        <div class="item 50" >
                            <select class='select_wound' name='attr_<%= injury.name %>'>
                                <% woundOptions.forEach(opt => { -%>
                                <option><%= opt %></option>
                                <% });-%>
                            </select>
                        </div>
                        <div class="item 50" ><input type='text' class="select_wound" name='attr_<%= injury.name %>HealthPenalty' value=0 /></div>
                    </div>
				    <fieldset class='repeating_<%= injury.repeatingClass %>'>
                        <div class="row">
                            <div class="item 120">
                                <select class='select_wound' name='attr_rHealthName'>
                                    <option><%= injury.name %></option>
                                </select>
                            </div>
                            <div class="item 50" >
                                <select class='select_wound' name='attr_rHealthWound'>
                                    <% woundOptions.forEach(opt => { -%>
                                    <option><%= opt %></option>
                                    <% }); -%>
                                </select>
                            </div>
                            <div class="item 50" ><input type='text' class="select_wound" name='attr_<%= injury.name %>HealthPenalty' value=0 /></div>
                        </div>
                    </fieldset>
                    <% }); -%>
                    <h4>Extras</h4>
				    <fieldset class='repeating_health'>
                        <div class="row">
                            <div class="item 120">
                                <select class='select_wound' name='attr_rHealthName'>
                                    <% injuryTypes.forEach(injury => { -%>
                                    <option><%= injury.name %></option>
                                    <% }); -%>
                                    <option>Dead</option>
                                </select>
                            </div>
                            <div class="item 50" >
                                <select class='select_wound' name='attr_rHealthWound'>
                                    <% woundOptions.forEach(opt => { -%>
                                    <option><%= opt %></option>
                                    <% }); -%>
                                </select>
                            </div>
                            <div class="item 50" ><input type='text' class="select_wound" name='attr_rHealthPenalty' value=0 /></div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="item 120">Dead</div>
                        <div class="item 50" >
                            <select class='select_wound' name='attr_Dead'>
                                <% woundOptions.forEach(opt => { -%>
                                <option><%= opt %></option>
                                <% }); -%>
                            </select>
                        </div>
                        <div class="item 50" ><input type='text' class="select_wound" name='attr_DeadHealthPenalty' value=0 /></div>
                    </div>
                </div>
            </div>
		</div>
