<%
// Movement types configuration
const movementTypes = [
    { name: 'Walk', attr: 'Walk', value: 7, disabled: false },
    { name: 'Run', attr: 'Run', value: '@{Dexterity}+12+@{Mega_Dexterity}', disabled: true },
    { name: 'Sprint', attr: 'Run', value: '@{Dexterity}*3+20+@{Mega_Dexterity}', disabled: true }
];
-%>
	<div class='sheet-combat'>
            <div class="col item 100">
                <div class="row">
                    <h3 class="category-title">Initiative</h3>
                    <div class="item 50"><input type='text' class="st sheet-edit-mode" name='attr_Initiative' value=0 /></div>
                    <div class="item 25"><button type='roll' class="grid_btn" name="roll_init" value="&{template:initiative} {{subtag= @{character_name} }} {{name=Initiative }} {{roll= [[ 1d10+@{Initiative} &{tracker}]] }}"></button></div>
                </div>
            </div>
            <div class="col item 430">
                <div class="row">
                    <h3 class="category-title">Movement</h3>
                </div>
                <table class="movement-table">
                    <thead>
                        <tr>
                            <% movementTypes.forEach(move => { -%>
                            <th><%= move.name %></th>
                            <% }); -%>
                            <th><span name='attr_moveColumn1Name'></span></th>
                            <th><span name='attr_moveColumn2Name'></span></th>
                            <th><span name='attr_moveColumn3Name'></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% movementTypes.forEach(move => { -%>
                            <td><input type='text' class="st" name='attr_<%= move.attr %>' value=<%= move.value %><%= move.disabled ? ' disabled' : '' %> /></td>
                            <% }); -%>
                            <td><input type='text' class="st sheet-edit-mode" name='attr_moveColumn1Value' value=0 /></td>
                            <td><input type='text' class="st sheet-edit-mode" name='attr_moveColumn2Value' value=0 /></td>
                            <td><input type='text' class="st sheet-edit-mode" name='attr_moveColumn3Value' value=0 /></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col">
				<h3 class="category-title">Willpower</h3>
				<div class="row">
				    <div class="item 20"></div>
                    <div class="item 13"></div>
                    <% for (let i = 1; i <= 10; i++) { -%>
                    <input type='radio' class="dot sheet-edit-mode" name='attr_Willpower_max' value=<%= i %><%= i === 1 ? ' checked' : '' %> /><span></span>
                    <% } -%>
                    <button type='roll' class='sheet-background' value="&{template:base} {{subtag= @{character_name} }} {{name= Willpower }} {{roll= [[ (?{Modifier?|0} + @{Willpower_max})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button>
                </div>
                <div class="row">
                    <div class="item 20"></div>
                    <% for (let i = 0; i <= 10; i++) { -%>
                    <input type='radio' class="mdot<%= i === 0 ? ' zero' : '' %>" name='attr_Temp_Willpower' value=<%= i %><%= i === 0 ? ' checked' : '' %> /><span></span>
                    <% } -%>
                </div>
            </div>
        <div>
			<h2>Weapons</h2>
			<div class="row">
                <div class="item 40">Roll</div>
                <div class="item 120">Weapon</div>
                <div class="item 50">Dice</div>
                <div class="item 70">Damage</div>
                <div class="item 50">Difficulty</div>
			</div>
			<fieldset class='repeating_weapons'>
    			<div class="row"> 
                    <div class="item 40"><button type='roll' class='sheet-background' value="&{template:base} {{subtag= @{character_name} }} {{name= @{wname} }} {{attack= [[ (?{Modifier?|0} +@{wtotalacc})d10>7f1!>10s+?{Bonus Successes?|0 }]] }} {{damage= [[ (?{Modifier?|0} + @{wdamtotal})d10>7f1!>10s+?{Bonus Successes?|0 }]] }}"></button></div>
                    <div class="item 120"><input type='text' class="st sheet-edit-mode" name='attr_wname'/></div>
                    <div class="item 50" ><input type='text' class="st" name='attr_wtotalacc' value="@{wskill}+@{wacc}" disabled/></div>
                    <div class="item 70" ><input type='text' class="st" name='attr_wdamtotal' value="@{wstr}+@{wdam}" disabled/></div>
                    <div class="item 50"><input type='text' class="st sheet-edit-mode" name='attr_wdifficulty' /></div>
    			    <div class="item 25" ><input type="checkbox" class="gear" name="attr_weapon_open" value="1" checked/><span></span></div>
    			</div>
    			<input type="checkbox" class="hidden hider" name="attr_weapon_open" value="1" checked/><span></span>
    			<div class="hold">
        			<div class="row">
                        <div class="item 100">Skill</div>
                        <div class="item 70">Accuracy</div>
                        <div class="item 70">Damage</div>
                        <div class="item 50">Str</div>
                        <div class="item 50">Range</div>
                        <div class="item 180">Maneuvers</div>
                        <div class="item 50">RoF</div>
                        <div class="item 50">Clip</div>
                        <div class="item 50">Conceal</div>
                        <div class="item 50">Mass</div>
        			</div>
        			<div class="row">
                        <div class="item 100">
        					<select name='attr_wskill sheet-edit-mode' class='sheet-st'>
        						<option value="@{Athletics_Total}">Athletics</option>
        						<option value="@{Brawl_Total}">Brawl</option>
        						<option value="@{Firearms_Total}">Firearms</option>
        						<option value="@{Martial_Arts_Total}">Martial Arts</option>
        						<option value="@{Melee_Total}">Melee</option>
        					</select>
        				</div>
                        <div class="item 70" ><input type='text' class="st sheet-edit-mode" name='attr_wacc' value="0"/></div>
                        <div class="item 70" ><input type='text' class="st sheet-edit-mode" name='attr_wdam' value="0"/></div>
                        <div class="item 50" ><input type='checkbox' value="@{Strength}" name='attr_wstr' /></div>
                        <div class="item 50" ><input type='text' class="st sheet-edit-mode" name='attr_range'value="0"/></div>
                        <div class="item 180">
        					<input type='checkbox' class="strike" name='attr_wm_af' value=1 /><span class="strike">Af</span>
        					<input type='checkbox' class="strike" name='attr_wm_ms' value=1 /><span class="strike">Ms</span>
        					<input type='checkbox' class="strike" name='attr_wm_sa' value=1 /><span class="strike">Sa</span>
        					<input type='checkbox' class="strike" name='attr_wm_st' value=1 /><span class="strike">St</span>
        					<input type='checkbox' class="strike" name='attr_wm_tw' value=1 /><span class="strike">Tw</span>
        				</div>
                        <div class="item 50" ><input type='text' class="st sheet-edit-mode" name='attr_wrof' value="0"/></div>
                        <div class="item 50" ><input type='text' class="st sheet-edit-mode" name='attr_wclip'value="0"/></div>
                        <div class="item 50" >
                            <select name='attr_wconceal' class='sheet-st sheet-edit-mode'>
        						<option value='Pocket'>P</option>
        						<option value='Jacket'>J</option>
        						<option value='Trenchcoat'>T</option>
        						<option value='N/A'>N/A</option>
        					</select>
                        </div>
                        <div class="item 50" ><input type='text' class="st sheet-edit-mode" name='attr_wmass' value="0"/></div>
        			</div>
                </div>
            </fieldset>
        </div>
        <%- include('sections/health.ejs') -%>
	</div>	