<%
// Movement types configuration
const movementTypes = [
    { name: 'Walk', attr: 'Walk', value: 7, disabled: false },
    { name: 'Run', attr: 'Run', value: '@{Dexterity}+@{Mega_Dexterity}+12', disabled: true },
    { name: 'Sprint', attr: 'Run', value: '(@{Dexterity} + @{Mega_Dexterity})*3+20', disabled: true }
];
-%>
	<div class='combat'>
        <div class="grid-combat-top">
            <div class="col">
                <div class="row">
                    <h3 class="category-title">Initiative</h3>
                </div>
                <table class="movement-table">
                    <thead>
                        <tr>
                            <th>Base</th>
                            <th>Bonus</th>
                            <th>Total</th>
                            <th>Roll</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type='text' class="st" name='attr_init_base' value='@{Dexterity}+@{Mega_Dexterity}+@{Wits}+@{Mega_Wits}' disabled /></td>
                            <td><input type='text' class="st edit-mode" name='attr_Initiative_bonus' value=0 /></td>
                            <td><input type='text' class="st" name='attr_Initiative' value='@{init_base}+@{Initiative_bonus}' disabled/></td>
                            <td><button type='roll' class="grid_btn" name="roll_init" value="&{template:initiative} {{name=@{character_name} }} {{roll=[[ 1d10+@{Initiative} &{tracker} ]] }}"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="row">
                    <h3 class="category-title">Movement</h3>
                </div>
                <table class="movement-table">
                    <thead>
                        <tr>
                            <% movementTypes.forEach(move => { -%>
                            <th><%= move.name %></th>
                            <% }); -%>
                            <th><span name='attr_moveColumn1Name'></span></th>
                            <th><span name='attr_moveColumn2Name'></span></th>
                            <th><span name='attr_moveColumn3Name'></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% movementTypes.forEach(move => { -%>
                            <td><input type='text' class="st" name='attr_<%= move.attr %>' value='<%= move.value %>' <%= move.disabled ? ' disabled' : '' %> /></td>
                            <% }); -%>
                            <td><input type='text' class="st edit-mode" name='attr_moveColumn1Value' value=0 /></td>
                            <td><input type='text' class="st edit-mode" name='attr_moveColumn2Value' value=0 /></td>
                            <td><input type='text' class="st edit-mode" name='attr_moveColumn3Value' value=0 /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
				<h3 class="category-title">Willpower</h3>
				<div class="row">
				    <div class="item w20"></div>
                    <div class="item w13"></div>
                    <% for (let i = 1; i <= 10; i++) { -%>
                    <input type='radio' class="dot edit-mode" name='attr_Willpower_max' value=<%= i %><%= i === 1 ? ' checked' : '' %> /><span></span>
                    <% } -%>
                    <button type='roll' class='background' value="&{template:base} {{subtag= @{character_name} }} {{name= Willpower }} {{roll= [[ (?{Modifier?|0} + @{Willpower_max})d10>7!>10s+?{Bonus Successes?|0 }]] }}"></button>
                </div>
                <div class="row">
                    <div class="item w20"></div>
                    <% for (let i = 0; i <= 10; i++) { -%>
                    <input type='radio' class="mdot<%= i === 0 ? ' zero' : '' %>" name='attr_Temp_Willpower' value=<%= i %><%= i === 0 ? ' checked' : '' %> /><span></span>
                    <% } -%>
                </div>
            </div>
        </div>
        <div grid class="grid-1column">
			<h2>Attacks</h2>
            <table class="movement-table">
                <thead>
                    <tr>
                        <th class="item w140">Name</th>
                        <th class="item w40">Atk</th>
                        <th class="item w50">Dice</th>
                        <th class="item w70">Difficulty</th>
                        <th class="item w40">Dmg</th>
                        <th class="item w70">Dice</th>
                        <th class="item w50">Range</th>
                        <th class="item w70">Settings</th>
                    </tr>
                </thead>
            </table>
			<fieldset class='repeating_weapons'>
                <table class="movement-table">
                    <tbody>
                        <tr>
                            <td class="item w140"><input type='text' class="st edit-mode" name='attr_wname'/></td>
                            <td class="item w40" style="align-content: center;"><button type="action" class="d10-dice grid_btn" name="act_roll-attack"></button></td>
                            <td class="item w50"><input type='text' class="st" name='attr_wtotalacc' value="0" readonly/></td>
                            <td class="item w70"><input type='text' class="st edit-mode" name='attr_wdifficulty' value="0"/></td>
                            <td class="item w40" style="align-content: center;"><button type="action" class="d10-dice grid_btn" name="act_roll-damage"></button></td>
                            <td class="item w70"><input type='text' class="hidden" name='attr_wdamtotal' value="0" readonly/><input type='text' class="st" name='attr_wdamdisplay' value="0" readonly/></td>
                            <td class="item w50"><input type='text' class="st edit-mode" name='attr_range' value="0"/></td>
                            <td class="item w70" style="align-content: center;"><input type="checkbox" class="gear" name="attr_weapon_open" value="1" checked/><span></span></td>
                        </tr>
                    </tbody>
                </table>
    			<input type="checkbox" class="hidden hider" name="attr_weapon_open" value="1" checked/><span></span>
    			<div class="hold">
                    <table class="movement-table">
                        <thead>
                            <tr>
                                <th class="item w100">Skill</th>
                                <th class="item w70">Accuracy</th>
                                <th class="item w40">Str</th>
                                <th class="item w70">Damage</th>
                                <th class="item w70">Automatic</th>
                                <th class="item w100">Type</th>
                                <th class="item w70">Conceal</th>
                                <th class="item w50">Mass</th>
                                <th class="item w50">RoF</th>
                                <th class="item w50">Clip</th>
                                <th class="item w120">Maneuvers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="item w100">
                                    <select name='attr_wskill' class='st edit-mode'>
                                        <% const skills = ['Athletics', 'Archery', 'Brawl', 'Firearms', 'Gunnery', 'Heavy Weapons', 'Martial Arts', 'Melee', 'Throwing']; -%>
                                        <% skills.forEach(skill => { -%>
                                        <option value='<%= skill %>'><%= skill %></option>
                                        <% }); -%>
                                    </select>
                                </td>
                                <td class="item w70"><input type='text' class="st edit-mode" name='attr_wacc' value="0"/></td>
                                <td class="item w40"><input type='checkbox' value="1" name='attr_wstr' /></td>
                                <td class="item w70"><input type='text' class="st edit-mode" name='attr_wdam' value="0"/></td>
                                <td class="item w70"><input type='text' class="st edit-mode" name='attr_wdam_auto' value="0"/></td>
                                <td class="item w100">
                                    <select name='attr_wdam_type' class='st edit-mode'>
                                        <option value='Bashing'>Bashing</option>
                                        <option value='Lethal'>Lethal</option>
                                        <option value='Aggravated'>Aggravated</option>
                                    </select>
                                </td>
                                <td class="item w70">
                                    <select name='attr_wconceal' class='st edit-mode'>
                                        <option value='Pocket'>P</option>
                                        <option value='Jacket'>J</option>
                                        <option value='Trenchcoat'>T</option>
                                        <option value='N/A'>N/A</option>
                                    </select>
                                </td>
                                <td class="item w50"><input type='text' class="st edit-mode" name='attr_wmass' value="0"/></td>
                                <td class="item w50"><input type='text' class="st edit-mode" name='attr_wrof' value="0"/></td>
                                <td class="item w50"><input type='text' class="st edit-mode" name='attr_wclip'value="0"/></td>
                                <td class="item w120">
                                    <input type='checkbox' class="strike" name='attr_wm_af' value=1 /><span class="strike">Af</span>
                                    <input type='checkbox' class="strike" name='attr_wm_ms' value=1 /><span class="strike">Ms</span>
                                    <input type='checkbox' class="strike" name='attr_wm_sa' value=1 /><span class="strike">Sa</span>
                                    <input type='checkbox' class="strike" name='attr_wm_st' value=1 /><span class="strike">St</span>
                                    <input type='checkbox' class="strike" name='attr_wm_tw' value=1 /><span class="strike">Tw</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <%- include('sections/health.ejs') -%>
	</div>	