<%
// Define basic info fields
const basicInfoFields = [
    { attr: 'BName', label: 'Birth Name' },
    { attr: 'NName', label: 'Nova Name' },
    { attr: 'Series', label: 'Series' }
];

const detailsFields = [
    { attr: 'Exp', label: 'Experience', min: '0', value: '0' },
    { attr: 'ExpEarned', label: 'Total XP Earned', min: '0', value: '0' },
    { attr: 'Nationality', label: 'Nationality' },
    { attr: 'Allegiance', label: 'Allegiance' }
];

const characterFieldsRow1 = [
    { attr: 'Nature', label: 'Nature', className: 'charNatureInput' },
    { attr: 'Demeanor', label: 'Demeanor', className: 'charDemeanorInput' },
    { attr: 'Archetype', label: 'Archetype', className: 'charArchetypeInput' }
];

const characterFieldsRow2 = [
    { attr: 'Virtue', label: 'Virtue', className: 'charVirtueInput' },
    { attr: 'Vice', label: 'Vice', className: 'charViceInput' },
    { attr: 'Eruption', label: 'Eruption', className: 'charEruptionInput' }
];
-%>
<div class='info'>
    <div class='grid_details'>
        <% basicInfoFields.forEach(field => { -%>
        <div class="grid_item"><input type='text' class='st edit-mode' name='attr_<%= field.attr %>' /></div>
        <% }); -%>
        <% basicInfoFields.forEach(field => { -%>
        <div class="grid_item"><div class="subtitle"><%= field.label %></div></div>
        <% }); -%>
    </div>
    <div class='grid_details_2'>
        <% detailsFields.forEach(field => { -%>
        <div class="grid_item"><input class='st<% if (field.attr !== 'Exp' && field.attr !== 'ExpEarned') { %> edit-mode<% } %>' type='text' name='attr_<%= field.attr %>'<% if (field.min) { %> min='<%= field.min %>'<% } %><% if (field.value) { %> value="<%= field.value %>"<% } %> /></div>
        <% }); -%>
        <% detailsFields.forEach(field => { -%>
        <div class="grid_item"><div class="subtitle"><%= field.label %></div></div>
        <% }); -%>
    </div>
    <div class='grid_details'>
        <% characterFieldsRow1.forEach(field => { -%>
        <div class="grid_item"><input class='<%= field.className %> st edit-mode' type='text' name='attr_<%= field.attr %>' /></div>
        <% }); -%>
        <% characterFieldsRow1.forEach(field => { -%>
        <div class="grid_item"><div class="subtitle"><%= field.label %></div></div>
        <% }); -%>
        <% characterFieldsRow2.forEach(field => { -%>
        <div class="grid_item"><input class='<%= field.className %> st edit-mode' type='text' name='attr_<%= field.attr %>' /></div>
        <% }); -%>
        <% characterFieldsRow2.forEach(field => { -%>
        <div class="grid_item"><div class="subtitle"><%= field.label %></div></div>
        <% }); -%>
    </div>
    <div class="grid-3column">
        <%- include('sections/backgrounds.ejs') -%>
        <% 
        const repeatingFields = [
            { section: 'Merits', attr: 'rMerit', fields: [
                { name: 'Name', label: 'Merit', width: 180, placeholder: 'Merit' },
                { name: 'Value', label: 'Value', width: 50, placeholder: 'Value' }
            ]},
            { section: 'Flaws', attr: 'rFlaw', fields: [
                { name: 'Name', label: 'Flaw', width: 180, placeholder: 'Flaw' },
                { name: 'Value', label: 'Value', width: 50, placeholder: 'Value' }
            ]}
        ];
        -%>
        <div class="col">
            <% repeatingFields.forEach(section => { -%>
            <h3 class="category-title"><%= section.section %></h3>
            <fieldset class='repeating_<%= section.attr %>'>
                <div class="row">
                    <% section.fields.forEach(field => { -%>
                    <div class="item w<%= field.width %>"><input type='text' class="st edit-mode" name='attr_<%= section.attr %><%= field.name %>' placeholder="<%= field.placeholder %>" /></div>
                    <% }); -%>
                </div>
                <div class="row">
                    <% section.fields.forEach(field => { -%>
                    <div class="item <%= field.width %> subtitle"><%= field.label %></div>
                    <% }); -%>
                </div>
                <textarea class="textarea_1 edit-mode" name='attr_<%= section.attr %>Notes' placeholder='Notes'></textarea>
            </fieldset>
            <% }); -%>
        </div>
        <div class="col">
            <h3 class="category-title">General Notes</h3>
            <textarea class="textarea_2" name='attr_MiscNotes' placeholder='General Notes'></textarea>
        </div>
    </div>
</div>
